<div id="AboutUs">
  <div class="container">

    <div class="mision-vision">
      <div class="mision">
        <h5> About US </h5>
        <p>We are a company specializing in real estate investments and in the search for financial solutions that serve the particularities of the client, guaranteeing the accompaniment of highly experienced personnel during investment processes and protection of private capital.</p>
      </div>

      <div class="vision">
        <h5> Our Vision is to achieve by 2022 to be a reliable and strategic international ally, always looking for new alternatives of profitability to our clients.</h5>
      </div>
    </div>

    <div class="logo">
      <img src="/assets/images/logo.png" alt="">
    </div>

  </div>
</div>
