<section id="Contact">
  <div class="container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3940.943000554456!2d-79.52797808524325!3d8.977392593556665!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8faca8e6303d6941%3A0x3ee3be59e3ce3b2f!2sCalle+48+Este%2C+Panam%C3%A1!5e0!3m2!1ses!2sco!4v1533419570889" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

    <div class="cia card">
      <h4> Get in touch with us! </h4>

      <p class="location">
        <b> <img src="assets/images/location.png" alt=""> Panama City / Panama </b><br>
        ST. 48 Bellavista, House 11 – oficce 1
      </p>

      <p class="email">
        <a href="mailto:capitalproject@gmail.com?Subject=Hello"> <img src="assets/images/mail.png" alt="">capitalproject@gmail.com</a> <br>
      </p>

    </div>
  </div>
</section>
