<div id="Header">
  <nav class="blue-grey darken-3">
    <div class="nav-wrapper">
      <div class="container">
        <a href="#" class="brand-logo"><img src="/assets/images/logo.png" alt=""><span>Capital Projects S.A.</span></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#AboutUs">About Us</a></li>
          <li><a href="#Services">Our Services</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#Contact" class="contact">Get in touch</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="content">
      <h1>Confidentiality <br> Organization <br> Strategy</h1>
      <p>Contact us, We are your best option.</p>
    </div>
  </div>
</div>
