<div class="video" id="Video_Section">
  <div class="player">
    <video width="100%" autoplay id="Video">
      <source src="https://firebasestorage.googleapis.com/v0/b/capitalprojects18.appspot.com/o/video.mp4?alt=media&token=2c5ec694-9407-4d50-ab43-becc1aee22c5" type="video/mp4">
    </video>
    <button id="CloseButton" {{action "closeVideo"}}> Close Video </button>
  </div>


  <div class="content" id="Video_Content">
    <div class="container">
      <h3> DAKAR PROJECT </h3>
      <div class="line">  </div>

      <p class="text">
        We have highly experienced staff in the design and execution of urban development projects. <br class="br">
        The purpose of Capital Project SA is to develop projects in different countries where their interests are located,
        through our strategic partners. We can guarantee civil constructions with the highest reliability and in extremely short times.
      </p>

      <button {{action "openVideo"}}> <i class="material-icons">play_circle_filled_white</i> <span>Play Video</span></button>
    </div>
  </div>
</div>
