<div id="Services">
  <div class="container">
    <h5> Our Services </h5>
    <div class="line">  </div>

    <div class="row">
      <div class="col s6">
        <div class="card hoverable">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="assets/images/bank.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">BANK MANAGEMENT ABROAD <i class="material-icons">visibility</i> </span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">BANK MANAGEMENT ABROAD<i class="material-icons right">close</i></span>
            <p>
              Business, agreements or interests have no limits, Capital Project SA seeks to satisfy the needs of its customers successfully and with a strict degree of confidentiality. We provide brokerage services and advice in: <br>
              <ul>
                <li> Opening of bank accounts abroad</li>
                <li> International payment management, credit letters, bank transfers </li>
                <li> Tax residencies </li>
                <li> Processing of subsidies and tax exemptions for foreign capital. </li>
                <li> International or national financing, anonymous financing. </li>
              </ul>
              <span> We offer our services in total confidentiality </span>
            </p>
          </div>
        </div>
      </div>

      <div class="col s6">
        <div class="card hoverable">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="assets/images/company.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">CREATION OF COMPANIES <i class="material-icons">visibility</i> </span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">CREATION OF COMPANIES <i class="material-icons right">close</i></span>
            <p>
              Companies that decide to expand their business to the international market face several risks and difficulties, which in principle, can negatively affect the established objectives. Therefore, it is necessary an experience in the sector to eliminate these barriers and reduce the times of application. <br>
              <b>Implementation of your business</b> <br>
              <ul>
                <li> Constitution of societies </li>
                <li> Opening of bank accounts</li>
                <li> Development of commercial agendas </li>
                <li> Assistance to fairs and trade meetings </li>
              </ul>

              <b>Market studies</b> <br>
              <ul>
                <li> Economic studies of the sector </li>
                <li> Business plan </li>
                <li> Feasibility projects </li>
                <li> Strategic positioning </li>
              </ul>

              <b>Administrative management</b> <br>
              <ul>
                <li> Administration and management services of your business. </li>
                <li> Processing of subsidies and tax exemptions to foreign capital. </li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s6">
        <div class="card hoverable">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="assets/images/man.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">CROWDFOUNDING <i class="material-icons">visibility</i> </span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">CROWDFOUNDING<i class="material-icons right">close</i></span>
            <p>
              In Capital Project SA bet on the future, take risks and promote the development of innovative ideas that have a potential for success.
              <br>
              If you have a really innovative idea come with us and change the world together.
              <br>
              Make sure your idea ...
              <ul>
                <li> Be innovative and unique</li>
                <li> Interdisciplinary team </li>
                <li> Functional prototype </li>
                <li> Highly commercial </li>
              </ul>
              <span>
                     And if it is a project of any kind that needs financing, we can also help you. <br>
                     We use new tools in the financing of ideas and high impact projects, such as Crowfunding. <br>
                     Come with us and let's change the world together.
              </span>
            </p>
          </div>
        </div>
      </div>

      <div class="col s6">
        <div class="card hoverable">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="assets/images/business2.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">SALE AND PURCHASE OF COMPANIES <i class="material-icons">visibility</i> </span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">SALE AND PURCHASE OF COMPANIES <i class="material-icons right">close</i></span>
            <p>
              We offer the sale service companies: If you need to sell your company for any reason, in Project Capital SA, we are professionals in portfolio recovery, tracking of assets, etc., this procedure is carried out under a strict confidentiality environment, many of our sales do not they are taken for granted by society in general.
              <br>
              We offer the business purchase service: If you need to enter a new country for you, the best way is through a company known in that community, we have a bank of companies waiting for international buyers.
            </p>
          </div>
        </div>
      </div>
    </div>




  </div>
</div>
